{% extends 'layout.html.twig' %}

{% block content %}

<ul class="topnav">
    <li id="active"><a href="#">{{article.title}}</a><div class="down arrow"></div><div class="up none arrow"></div></li>
    {% if isConnected is defined %}
    <li class="none"><a href="?action=home">Home</a></li>
    <li class="none"><a href="?action=profile&amp;username={{isConnected.username}}">Profil</a></li>
    <li class="none"><a href="?action=logout">Logout</a></li>
    {% else %}
    <li class="none"><a href="?action=home">Home</a></li>
    <li class="none"><a href="?action=login">Login</a></li>
    <li class="none"><a href="?action=register">Register</a></li>
    {% endif %}
</ul>

    <div class="article_view">
        <div>{{ article.title }}</div>
        <div>{{ article.description }}</div>
        <div>{{ article.content }}</div>
    </div>

    <div id="commentary">
        {% for key in commentary %}


            <div class="infoProfile"><div class="commentary">{{ key.content }}</div></div><br><br>


            <div class="commentary">
                <div class="commentary_content">{{ key.content | raw }}</div>
            </div>

        {% endfor %}
    </div>

    {% if isConnected is defined %}
    <div id="form">
        <span id="errorCommentary" class="errorBlock"></span>
        <h1> Postez un commentaire</h1>
        <form action="?action=articles&amp;title={{article.title}}" method="POST" id="commentaryForm">
           <label for="contentCommentary">Contenu:</label>
            <textarea name="contentCommentary" id="contentCommentary"></textarea><br>  <span id="errorContent" class="errorBlock"></span>
            <input type="submit" name="commentary">
        </form>
    </div>
    {% endif %}

<script>
// Replace the <textarea id="editor1"> with a CKEditor
// instance, using default configuration.
    CKEDITOR.replace( 'contentCommentary' );
</script>

{% endblock %}