{% extends 'layout.html.twig' %}

{% block content %}
<ul class="topnav">
    <li id="active"><a href="#">{{article.title}}</a><div class="down arrow"></div><div class="up none arrow"></div></li>
    {% if isConnected is defined %}
    <li class="none"><a href="?action=home">Home</a></li>
    <li class="none"><a href="?action=profile&amp;username={{isConnected.username}}">Profil</a></li>
    <li class="none"><a href="?action=logout">Logout</a></li>
    {% else %}
    <li class="none"><a href="?action=home">Home</a></li>
    <li class="none"><a href="?action=login">Login</a></li>
    <li class="none"><a href="?action=register">Register</a></li>
    {% endif %}
</ul>

    <article class="solo_view">
        <header id="titleContent">
            {{ article.title }}
        </header>
        <div class="infoUSer">
            {{ userInfo['username'] }}
            {{ userInfo['faction'] }}
            {{ userInfo['nbr_commentary'] }}
            {{ userInfo['nbr_articles'] }}
        </div>
        <div class="not_useful" id="descriptionContent">{{ article.description }}</div>
        <div id="articleContent">{{ article.content | raw }}</div>
        <div><img class="img_params" id="imgEditionArticle" src="assets/images/parametre.png"></div>
        <div class="article_user_info">
            <div class="primary_user_info">
                <a href="?action=profile&amp;username={{username}}">{{username}}</a>
                <p>{{ faction }}</p>
            </div>
            <div class="secondary_user_info">
                <p class="not_useful">Nbr de commentaires de l'article: {{article.nbr_commentary}}<p>
                <p>Le {{article.date}}</p>
            </div>
        </div>
    </article>

    </div>
    <div id="formEdition">
        <div id="resultEdition"></div>
        <form action="?action=articles&amp;id={{ article.id }}" method="POST" id="articlesFormEdition">
            Title : <input type="text" name="titleEdition" id="titleEdition"><br> <span id="errorTitle"
                                                                                        class="errorBlock"></span>
            Description: <textarea name="descriptionEdition" id="descriptionEdition"></textarea><br> <span
                    id="errorDescription" class="errorBlock"></span>
            Contenu: <textarea name="contentEdition" id="articleContentEdition"></textarea><br> <span id="errorContent"
                                                                                                      class="errorBlock"></span>

            <input type="submit" name="articleEdition">
        </form>
    </div>
    <div id="fullContentCommentary">

      <div id="commentary">
            {% for key in commentary %}
                {% set username = allUsernames[key['user_id']] %}
                {% set commentary = allUserCommentary[key['user_id']] %}
                {% set faction = allFaction[key['user_id']] %}
                <div class="commentary">

                    <div class="commentary_user_info">
                        <div class="primary_user_info">
                            <a href="?action=profile&amp;username={{username}}">{{username}}</a>
                            <p>{{ faction }}</p>
                        </div>
                        <div class="secondary_user_info">
                            <p>Le {{key.date}}</p>
                            <p class="not_useful">Nbr de commentaires : {{commentary}}<p>
                        </div>
                    </div>
                    <div class="commentary_content">{{ key.content | raw }}</div>
                        {% if key.user_id == isConnected.id %}
                            <button class="commentaryEdition">Editez votre commentaire</button>
                        {% endif %}

                </div>

            {% endfor %}
        </div>
    <div id="myModal" class="modal">

    <!-- Modal content -->
        <div class="modal-content">
        <h1> Postez un commentaire</h1>
        <span class="close">&times;</span>
            <div id="formCommentaryEdition">
                <span class="errorCommentaryEdition errorBlock" ></span>

                <form action="?action=articles&amp;id={{article.id  }}" method="POST" id="commentaryFormEdition">
                <label for="contentCommentaryEdition">Contenu:</label>
                <textarea name="contentCommentaryEdition" id="contentCommentaryEdition"></textarea><br>  <span id="errorContent" class="errorBlock"></span>
                <input type="submit" name="commentary">
                </form>
            </div>
        </div>
    </div>





    {% if isConnected is defined %}
    <div id="form">
        <span id="errorCommentary" class="errorBlock"></span>
        <h1> Postez un commentaire</h1>
        <form action="?action=articles&amp;id={{article.id}}" method="POST" id="commentaryForm">
           <label for="contentCommentary">Contenu:</label>
            <textarea name="contentCommentary" id="contentCommentary"></textarea><br>  <span id="errorContent" class="errorBlock"></span>
            <input type="submit">
        </form>
    </div>
    {% endif %}
    <script>
        CKEDITOR.replace('contentCommentary');
        CKEDITOR.replace('articleContentEdition');
        CKEDITOR.replace('contentCommentaryEdition');
    </script>

{% endblock %}