{% extends 'layout.html.twig' %}

{% block content %}
    <div>{{ article.title }}</div><br><br>
    <div>{{ article.description }}</div><br><br>
    <div>{{ article.content }}</div><br><br>

    <div id="commentary">
        {% for key in commentary %}
            <div>{{ key.content }}</div><br><br>
        {% endfor %}
    </div>
    <div id="form">
        <span id="errorCommentary" class="errorBlock"></span>
        <h1> Postez un commentaire</h1>
        <form action="?action=articles&amp;title={{article.title}}" method="POST" id="commentaryForm">
           <label for="contentCommentary">Contenu:</label>
            <textarea name="contentCommentary" id="contentCommentary"></textarea><br>  <span id="errorContent" class="errorBlock"></span>
            <input type="submit" name="commentary">
        </form>
    </div>

{% endblock %}