{% extends 'layout.html.twig' %}

{% block content %}

<ul class="topnav">
    <li class="navTag" id="active"><a href="#">Acceuil</a><div class="down arrow"></div><div class="up none arrow"></div></li>
    {% if isConnected is defined %}
    <li class="navTag none"><a href="?action=profile&amp;username={{user.username}}">Profil</a></li>
    <li class="navTag none"><a href="?action=logout">Déconnexion</a></li>
    {% else %}
    <li class="navTag none"><a href="?action=login">Se connecter</a></li>
    <li class="navTag none"><a href="?action=register">S'inscire</a></li>
    {% endif %}
</ul>

<div class="allArticles">
    <img class="tablet_center" alt="warrior viking" src="assets/images/home_center.png"/>
    {% for key in articles %}
        {% set username = allUsernames[key['id']] %}
        {% set commentary = allNbrCommentary[key['id']] %}
        {% set title =key['title'] %}
        {% set description =key['description'] %}
        <div class="article">
            <div class="article_title">{{ title }}</div>
            <img class="img_article" alt="article_img" src="{{ description }}"/>
            <div class="infoArticleUser">
                <a href="?action=profile&amp;username={{username}}" class="author">Auteur : {{ username }}</a>
                <p class="nbr_commentary">{{commentary}} commentaires</p>
            </div>
            <a href="?action=articles&amp;id={{key.id}}"> Voir l'article complet</a>
        </div>
    {% endfor %}
</div>

<aside class="aside_bar">
    <img class="logo" alt="logo_honor" src="assets/images/forHonor.png"/>
    <img class="static_footer" alt="side_bar_img" src="assets/images/asideKnight.png"/>
    <iframe src="https://www.youtube.com/embed/hduexi1GD5c" allowfullscreen></iframe>
</aside>
{% endblock %}
