{% extends 'layout.html.twig' %}

{% block content %}

<ul class="topnav">
    <li id="active"><a href="#">Home</a><div class="down arrow"></div><div class="up none arrow"></div></li>
    {% if isConnected is defined %}
    <li class="none"><a href="?action=profile&amp;username={{user.username}}">Profil</a></li>
    <li class="none"><a href="?action=logout">Logout</a></li>
    {% else %}
    <li class="none"><a href="?action=login">Login</a></li>
    <li class="none"><a href="?action=register">Register</a></li>
    {% endif %}
</ul>

<div class="allArticles">
    <img class="tablet_center" src="https://store.ubi.com/on/demandware.static/-/Library-Sites-shared-library-allsites/default/dw3ba6f7ba/images/landings/brand_pages/FH/images/design/media_deco_img.png"/>
    {% for key in articles %}
        {% set username = allUsernames[key['id']] %}
        {% set commentary = allNbrCommentary[key['id']] %}
        {% set title =key['title'] %}
        {% set description =key['description'] %}
        <div class="article">
            <div class="article_title">{{ title }}</div>
            <img class="img_article" alt="article_img" src="{{ description }}"/>
            <div class="infoArticleUser">
                <a href="?action=profile&amp;username={{username}}" class="author">Auteur : {{ username }}</a>
                <p class="nbr_commentary">{{commentary}} commentaires</p>
            </div>
            <a href="?action=articles&amp;id={{key.id}}"> Voir l'article complet</a>
        </div>
    {% endfor %}
</div>

<aside class="aside_bar">
    <img class="logo" alt="logo_honor" src="https://asset.msi.com/event/mb/2016/for_honor/images/logo.png"/>
    <img class="static_footer" alt="side_bar_img" src="http://vignette3.wikia.nocookie.net/for-honor/images/b/b2/Fh_hero-character-warden_ncsa.png/revision/latest?cb=20160721210752"/>
    <iframe src="https://www.youtube.com/embed/hduexi1GD5c" allowfullscreen></iframe>
</aside>
{% endblock %}
