{% extends 'layout.html.twig' %}

{% block content %}

<ul class="topnav">
    <li id="active"><a href="#">Home</a><div class="down arrow"></div><div class="up none arrow"></div></li>
    {% if isConnected is defined %}
    <li class="none"><a href="?action=profile&amp;username={{user.username}}">Profil</a></li>
    <li class="none"><a href="?action=logout">Logout</a></li>
    {% else %}
    <li class="none"><a href="?action=login">Login</a></li>
    <li class="none"><a href="?action=register">Register</a></li>
    {% endif %}
</ul>

    {% for key in articles %}
        {% set username = allUsernames[key['user_id']] %}
        {% set commentary = allNbrCommentary[key['user_id']] %}
        {% set title =key['title'] %}
        {% set description =key['description'] %}
        <div id="infoArticleUser">
          Utilisateur :  {{ username }}
            Nombre de commentaire de l'article : {{ commentary }}

        </div><br>
        <div> Titre :{{ title }}</div><br><br>
        <div> Description :{{ description }}</div><br><br>
        <a href="?action=articles&amp;id={{key.id}}"> Voir l'article complet</a><br>
    {% endfor %}
{% endblock %}
