{% extends 'layout.html.twig' %}

{% block content %}

<ul class="topnav">
    <li id="active"><a href="#">Home</a><div class="down arrow"></div><div class="up none arrow"></div></li>
    {% if isConnected is defined %}
    <li class="none"><a href="?action=profile&amp;username={{user.username}}">Profil</a></li>
    <li class="none"><a href="?action=logout">Logout</a></li>
    {% else %}
    <li class="none"><a href="?action=login">Login</a></li>
    <li class="none"><a href="?action=register">Register</a></li>
    {% endif %}
</ul>

<<<<<<< HEAD
<h1>Hello {{ user['username'] }} !</h1>
=======
<h1>Hello {{ user.username }} !</h1>
>>>>>>> e9cb43257b6704b6b705d5cc284c7f25c8e90540
    {% for key in articles %}
        <div>{{ key.title }}</div><br><br>
        <div>{{ key.description }}</div><br><br>
        <a href="?action=articles&amp;title={{key.title}}"> Voir l'article complet</a>
    {% endfor %}
{% endblock %}
