{% extends 'layout.html.twig' %}

{% block content %}
<ul class="topnav">
    {% if isConnected is defined %}
        {% if visitor is defined %}
            <li id="active"><a href="#">{{user.username}}</a><div class="down arrow"></div><div class="up none arrow"></div></li>
            <li class="none"><a href="?action=home">Home</a></li>
            <li class="none"><a href="?action=profile&amp;username={{visitor.username}}">My Profile</a></li>
            <li class="none"><a href="?action=logout">Logout</a></li>
        {% else %}
            <li id="active"><a href="#">My Profile</a><div class="down arrow"></div><div class="up none arrow"></div></li>
            <li class="none"><a href="?action=home">Home</a></li>
            <li class="none"><a href="?action=logout">Logout</a></li>
        {% endif %}
    {% else %}
    <li id="active"><a href="#">{{user.username}}</a><div class="down arrow"></div><div class="up none arrow"></div></li>
    <li class="none"><a href="?action=home">Home</a></li>
    <li class="none"><a href="?action=login">Login</a></li>
    <li class="none"><a href="?action=register">Register</a></li>
    {% endif %}
</ul>

<div class="box">
    <ul>
        <li id="profile_user_info" class=" tabs active" href="#"><img class="img_tab" src="assets/images/business-card-of-a-man-with-contact-info.png"></li>
        <li id="profile_user_article" class=" tabs" href="#"><img class="img_tab" src="assets/images/chat.png"></li>
        {% if isConnected.role >= 2 and visitor is not defined %}
        <li id="profile_new_article" class=" tabs" href="#"><img class="img_tab" src="assets/images/insert.png"></li>
        {% endif %}
    </ul>
    <div class="allContent">
        <div id="user_info" class="content">
            <div class="recapInfo">Username : {{user.username}}</div>
            <div class="recapInfo">Email : {{user.email}}</div>
            <div class="recapInfo">Faction : {{user.faction}}</div>
            <div class="recapInfo">Firstname : {{user.firstname}}</div>
            <div class="recapInfo">Lastname : {{user.lastname}}</div>
            <div class="recapInfo">Nmber of commentary : {{user.nbr_commentary}}</div>
            <div class="recapInfo">Number of articles : {{user.nbr_articles}}</div>

            {% if isConnected is defined and visitor is not defined %}
                <a class="custom-btn" id="button_editing" href="?action=profileEditing">Editez les informations</a>
            {% endif %}
        </div>
        <div id="user_article" class="content none">

            <div id="commentaryList">
            {% for key in allCommentary %}

                {% set commentary = listCommentary[key['id']] %}
                {% set dateCommentary = listDateCommentary[key['id']] %}

                <div class="listCommentary"> {{ commentary | raw}}</div>
                <div class="listDateCommentary"> {{ dateCommentary | raw}}</div>
            {% endfor %}
            </div>


            <div id="articlesList">
                {% for key in allArticles %}

                {% set articleContent = articlesContent[key['id']] %}
                {% set articleDescription = articlesDescription[key['id']] %}
                {% set articleTitle = articlesTitle[key['id']] %}
                {% set dateArticles = listDateArticles[key['id']] %}




                <div class="articlesDescription"> {{ articleTitle | raw}}</div>
                    <div class="articlesTitle"> {{ articleDescription | raw}}</div>
                    <div class="articlesContent"> {{ articleContent | raw}}</div>
                <div class="listDateCommentary"> {{ dateArticles | raw}}</div>
                {% endfor %}
            </div>


        </div>
        {% if isConnected.role >= 2 and visitor is not defined %}
        <div id="new_article" class="content none">
            <div class="insert_article">
                <div id="errorArticle">

                </div>
                <div id="errorFields" class="errorBlock"></div>
                <div id="form">

                    <form action="?action=profile&amp;username={{username}}" method="POST" id="articlesForm">
                        Title : <input type="text" name="title" id="title"><br>  <span id="errorTitle" class="errorBlock"></span>
                        Description: <textarea name="description" id="description"></textarea><br>  <span id="errorDescription" class="errorBlock"></span>
                        Contenu:     <textarea name="content" id="article_content"></textarea><br>  <span id="errorContent" class="errorBlock"></span>

                        <input type="submit" name="articles">
                    </form>
                </div>
            </div>

                <script>
                    // Replace the <textarea id="editor1"> with a CKEditor
                    // instance, using default configuration.
                    CKEDITOR.replace( 'article_content' );
                </script>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
