{% extends 'layout.html.twig' %}

{% block content %}
<ul class="topnav">
    {% if isConnected is defined %}
        {% if visitor is defined %}
            <li id="active"><a href="#">{{user.username}}</a><div class="down arrow"></div><div class="up none arrow"></div></li>
            <li class="none"><a href="?action=home">Acceuil</a></li>
            <li class="none"><a href="?action=profile&amp;username={{visitor.username}}">mon profil</a></li>
            <li class="none"><a href="?action=logout">Déconnexion</a></li>
        {% else %}
            <li id="active"><a href="#">My Profile</a><div class="down arrow"></div><div class="up none arrow"></div></li>
            <li class="none"><a href="?action=home">Acceuil</a></li>
            <li class="none"><a href="?action=logout">Déconnexion</a></li>
        {% endif %}
    {% else %}
    <li id="active"><a href="#">{{user.username}}</a><div class="down arrow"></div><div class="up none arrow"></div></li>
    <li class="none"><a href="?action=home">Acceuil</a></li>
    <li class="none"><a href="?action=login">Se connecter</a></li>
    <li class="none"><a href="?action=register">S'inscire</a></li>
    {% endif %}
</ul>

<div class="box">
    <ul>
        <li id="profile_user_info" class=" tabs active"><img class="img_tab" alt="img_user_info" src="assets/images/business-card-of-a-man-with-contact-info.png"></li>
        <li id="profile_user_article" class=" tabs"><img class="img_tab" alt="img_user_article" src="assets/images/chat.png"></li>
        {% if isConnected.role >= 2 and visitor is not defined %}
        <li id="profile_new_article" class=" tabs"><img class="img_tab" alt="img_new_article" src="assets/images/insert.png"></li>
        {% endif %}
    </ul>
    <div class="allContent">
        <div id="user_info" class="content">
            <div class="recapInfo">Username : {{user.username}}</div>
            <div class="recapInfo">Email : {{user.email}}</div>
            <div class="recapInfo">Faction : {{user.faction}}</div>
            <div class="recapInfo">Firstname : {{user.firstname}}</div>
            <div class="recapInfo">Lastname : {{user.lastname}}</div>
            <div class="recapInfo">Nmber of commentary : {{user.nbr_commentary}}</div>
            <div class="recapInfo">Number of articles : {{user.nbr_articles}}</div>

            {% if isConnected is defined and visitor is not defined %}
                <a class="custom-btn" id="button_editing" href="?action=profileEditing">Editez les informations</a>
            {% endif %}
        </div>
        {% if isConnected.role >= 2 and visitor is not defined %}
        <div id="new_article" class="content">
            <div class="insert_article">
                <p>Insérer un nouvel article</p>
                <div id="errorArticle" class="error">

                </div>

                <div id="form">

                    <form action="?action=profile&amp;username={{username}}" method="POST" enctype="multipart/form-data" id="articlesForm">
                        <label for="title">  Title :</label>
                            <input type="text" name="title" id="title"><br>
                        <label for="description">  Description:</label>
                           <input type="file" name="description" id="description"><br>
                       <label for="articleContent">Contenu:</label>
                        <textarea name="articleContent" id="articleContent"></textarea><br>

                        <input type="submit">
                    </form>
                </div>
            </div>

                <script>
                    // Replace the <textarea id="editor1"> with a CKEditor
                    // instance, using default configuration.
                    CKEDITOR.replace( 'articleContent' );
                </script>
        </div>
        {% endif %}
        <div id="user_article" class="content">

            <div id="commentaryList">
            <p>Vos commentaires :</p>
            {% for key in allCommentary %}
                <div class="commentary">
                    {% set commentary = listCommentary[key['id']] %}
                    {% set dateCommentary = listDateCommentary[key['id']] %}

                    <div class="listCommentary">{{ commentary | raw}}</div>
                    <div class="listDateCommentary">Le {{ dateCommentary | raw}}</div>
                </div>
            {% endfor %}
            </div>


            <div id="articlesList">
                <p>Vos articles :</p>
                {% for key in allArticles %}
                <div class="article">
                    {% set articleContent = articlesContent[key['id']] %}
                    {% set articleTitle = articlesTitle[key['id']] %}
                    {% set dateArticles = listDateArticles[key['id']] %}

                    <div class="articlesTitle"> {{ articleTitle | raw}}</div>
                    <div class="articlesContent"> {{ articleContent | raw}}</div>
                    <div class="listDateArticle"> Le {{ dateArticles | raw}}</div>
                <div>
                {% endfor %}
            </div>


        </div>
    </div>
</div>

<aside class="aside_bar">
    <img class="logo" alt="logo_honor" src="assets/images/forHonor.png"/>
    <img class="static_footer" alt="side_bar_img" src="assets/images/asideSamurai.png"/>
    <iframe src="https://www.youtube.com/embed/hduexi1GD5c" allowfullscreen></iframe>
</aside>

{% endblock %}
