{% extends 'layout.html.twig' %}

{% block content %}
    <div class="align">
        <div class="infoUser"> Username : {{ username }}</div>

    </div>
    <div class="align">
        <div class="infoUser"> Email: {{ email }}</div>

    </div>

    <div class="align">
        <div class="infoUser"> Faction : {{ faction }}</div>

    </div>

    <div class="align">
        <div class="infoUser"> Prénom: {{ firstname }}</div>

    </div>

    <div class="align">
        <div class="infoUser"> Nom: {{ lastname }}</div>

    </div>
    <div class="align">
        <div class="infoUser"> Nombre de commentaires: {{ nbr_commentary }}</div>

    </div>
    <div class="align">
        <div class="infoUser"> Nombre d'articles : {{ nbr_articles }}</div>

    </div>
{% endblock %}
