{% extends 'layout.html.twig' %}

{% block content %}
<ul class="topnav">
    {% if isConnected is defined %}
        {% if visitor is defined %}
            <li id="active"><a href="#">{{user.username}}</a><div class="down arrow"></div><div class="up none arrow"></div></li>
            <li class="none"><a href="?action=home">Home</a></li>
            <li class="none"><a href="?action=profile&amp;username={{visitor.username}}">My Profile</a></li>
            <li class="none"><a href="?action=logout">Logout</a></li>
        {% else %}
            <li id="active"><a href="#">My Profile</a><div class="down arrow"></div><div class="up none arrow"></div></li>
            <li class="none"><a href="?action=home">Home</a></li>
            <li class="none"><a href="?action=logout">Logout</a></li>
        {% endif %}
    {% else %}
    <li id="active"><a href="#">{{user.username}}</a><div class="down arrow"></div><div class="up none arrow"></div></li>
    <li class="none"><a href="?action=home">Home</a></li>
    <li class="none"><a href="?action=login">Login</a></li>
    <li class="none"><a href="?action=register">Register</a></li>
    {% endif %}
</ul>


    <h1>User :  {{ user['username'] }} !</h1>
{% if isConnected is defined and visitor is not defined %}

    <div id="errorArticle">

    </div>
    <div id="errorFields" class="errorBlock"></div>
    <div id="form">

        <form action="?action=profile&amp;username={{username}}" method="POST" id="articlesForm">
            Title : <input type="text" name="title" id="title"><br>  <span id="errorTitle" class="errorBlock"></span>
            Description: <textarea name="description" id="description"></textarea><br>  <span id="errorDescription" class="errorBlock"></span>
            Contenu:     <textarea name="content" id="article_content"></textarea><br>  <span id="errorContent" class="errorBlock"></span>

            <input type="submit" name="articles">
        </form>
    </div>

        <script>
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
        CKEDITOR.replace( 'article_content' );
    </script>
{% endif %}

        {% if isConnected is defined and visitor is not defined %}
        <a href="?action=profileEditing">Editez les informations</a>
        {% endif %}

    <div class="align">
        <div class="infoUser"> Username : {{ user.username }}</div>

    </div>
    <div class="align">
        <div class="infoUser"> Email: {{ user.email }}</div>

    </div>

    <div class="align">
        <div class="infoUser"> Faction : {{ user.faction }}</div>

    </div>

    <div class="align">
        <div class="infoUser"> Prénom: {{ user.firstname }}</div>

    </div>

    <div class="align">
        <div class="infoUser"> Nom: {{ user.lastname }}</div>

    </div>
    <div class="align">
        <div class="infoUser"> Nombre de commentaires: {{ user.nbr_commentary }}</div>

    </div>
    <div class="align">
        <div class="infoUser"> Nombre d'articles : {{ user.nbr_articles }}</div>

    </div>

    <a href="?action=logout">Logout</a>
{% endblock %}
