{% extends 'layout.html.twig' %}

{% block content %}

    <div class="align">
        <div class="infoUser"> Username : {{ username }}</div> <img id="parameterUsername" class="parameter" src="assets/images/parametre.png">
        <div id="usernameForm">
            <form action="?action=profile" method="POST" name="infoUsername" id="infoUsername">
                <input type="text" name="UsernameEditing" id="UsernameEditing"><br>  <span id="errorUsername" class="errorBlock"></span><br>
                <input type="submit" value="valider" name="infoUsername">
            </form>
        </div>
    </div>
    <div class="align">
        <div class="infoUser"> Email: {{ email }}</div><img id="parameterEmail" class="parameter" src="assets/images/parametre.png">
        <div id="emailForm">
            <form action="?action=profile" method="POST" name="infoEmail" id="infoEmail">
                <input type="text" name="emailEditing" id="emailEditing"><br>  <span id="errorEmail" class="errorBlock"></span><br>
                <input type="submit" value="valider" name="infoEmail">
            </form>
        </div>
    </div>

    <div class="align">
        <div class="infoUser"> Faction : {{ faction }}</div><img class="parameter" id="parameterPhone" src="assets/images/parametre.png">
        <div id="phoneForm">
            <form action="?action=profile" method="POST" name="infoPhone" id="infoPhone">
                <input type="text" name="phoneEditing" id="phoneEditing"><br>  <span id="errorPhone" class="errorBlock"></span><br>
                <input type="submit" value="valider" name="infoPhone">
            </form>
        </div>
    </div>

    <div class="align">
        <div class="infoUser"> Prénom: {{ firstname }}</div> <img id="parameterFirstname" class="parameter" src="assets/images/parametre.png">
        <div id="firstnameForm">
            <form action="?action=profile" method="POST" name="infoFirstname" id="infoFirstname">
                <input type="text" name="firstnameEditing" id="firstnameEditing"><br>  <span id="errorFirstname" class="errorBlock"></span><br>
                <input type="submit" value="valider" name="infoFirstname">
            </form>
        </div>
    </div>

    <div class="align">
        <div class="infoUser"> Nom: {{ lastname }}</div><img class="parameter" id="parameterLastname" src="assets/images/parametre.png">
        <div id="lastnameForm" class="none">
            <form action="?action=profile" method="POST" name="infoLastname" id="infoLarstname">
                <input type="text" name="lastnameEditing" id="lastnameEditing"><br>  <span id="errorLastname" class="errorBlock"></span><br>
                <input type="submit" value="valider" name="infoLastname">
            </form>
        </div>
    </div>

{% endblock %}